{{ define "content" }}
<h2 class="m-0 font-bold text-lg">About this job board</h2>
<div class="mb-6">
  <p>
    This job board is run by <a href="https://devict.org" title="devICT">devICT</a>, a community group for software devs
    and tech professionals in Wichita, KS.
  </p>
  <p>
    In general, the jobs posted here should be connected to Wichita in some way, and be tech or software related in some
    way.
    This can include job opportunities for tech employers in the region and non-regional employers with local employees.
  </p>
  <p>
    Job postings for non-regional employers that also do not have any local employees are fine <strong>as long as they
      are posted by local community members</strong>.
  </p>
  <p>
    The goal is to avoid individuals / companies with no tie to the region from dropping random listings here. There are
    plenty of other job boards out there for that!
  </p>
  <p>
    Jobs posted here automatically are shared in the
    <a href="https://slack.devict.org" title="devICT Slack">devICT Slack's #job-postings channel</a>.
    If you have any additional questions, <a href="https://slack.devict.org" title="devICT Slack">join us in slack</a>
    and ask away!
  </p>
</div>
{{ end }}